body{
    background-color: gray ;
}
.wrapper{
    background-color: #fff;
    width: 300px;
    height: 250px;
    margin-left: 450px;
    margin-top: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow:2px black;
}
  button{
    padding: 10px;
    background-color: teal;
    border-radius: 10px;
  }
  h2{
    font-size: 2em;
    font-weight: 10;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
  }
  h2:hover{
    color: black;
    text-shadow: 0 0 5px #03e9f4,
     0 0 25px #03e9f4,
     0 0 50px #03e9f4,
     0 0 100px #03e9f4;

  }